:root {
  color-scheme: light dark;
  background-color: #ffffff;

  --highlight-color: #ff0055;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: 1rem;
}
